.nav__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    padding: .5em;
}

.img{
    width: 70px;

}

.nav__links{
    display: flex;
    align-items: center;
}

.links__item{
    padding: .5em;
    font-weight: 400;
    font-size: .8em;
}